{% extends 'base.html.twig' %} {% block title %} Nos réalisations {% endblock %}
{% block body %}
<!-- Site creation -->
<section
  class="mt-[80px] lg:mt-[100px] w-full flex flex-col justify-center items-center"
>
  <!-- Content Header -->
  <article
    class="flex w-full lg:flex-row flex-col justify-center lg:default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <!-- Title -->
    <div class="lg:w-1/2 px-8 lg:px-0 mb-10 lg:mb-0">
      <div class="w-[100px] h-[100px] bg-grayText mb-3"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"></div>
      <p class="mb-3 text-secondary text-sm"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
      >{{ achievement.category }}</p>
      <h1
        class="text-white lg:text-[45px] md:text-[32px] text-[28px] tracking-tight"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        {{ achievement.title }}
      </h1>
      <p
        class="text-grayText mt-3 mb-8 leading-[28px]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Entrer dans le monde du numérique avec aisance et expertise. Chez Hafo
        Web Solutions, nous donnons vie à vos idées avec des solutions web
        sur-mesure qui allient performance, design moderne et expérience
        utilisateur optimale. Notre approche unique met vos ambitions au cœur de
        notre processus créatif.
      </p>
      <a
        href="{{ achievement.href }}"
        class="py-4 px-8 text-white font-semibold bg-[#00A3FF] hover:bg-tertiary text-base cursor-pointer rounded-lg"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
        >Voir le projet
      </a>
    </div>

    <div class="lg:w-[40%] px-8 lg:px-0 lg:pl-16">
      <div class="overflow-hidden">
        <img
          src="{{ asset('/image/expertise/creation/image.jpeg') }}"
          alt="image d'une realisation"
          class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
        />
      </div>
    </div>
  </article>

  <!-- Content Image -->
  <article
    class="flex lg:flex-row flex-col gap-8 lg:justify-center items-center flex-wrap w-full default-container 2xl:container-fluid 2xl:px-[140px] mt-[80px] lg:mt-[100px]"
  >
    <div class="w-full md:w-[40%] px-8 lg:px-0 overflow-hidden"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200"
    >
      <img
        src="{{ asset('/image/expertise/creation/image.jpeg') }}"
        alt="image d'une realisation"
        class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
      />
    </div>
    <div class="w-full md:w-[40%] px-8 lg:px-0 overflow-hidden"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="300"
    >
      <img
        src="{{ asset('/image/expertise/creation/image.jpeg') }}"
        alt="image d'une realisation"
        class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
      />
    </div>
  </article>

  <!-- Content Text -->
  <article
    class="flex flex-col gap-4 items-center w-full default-container 2xl:container-fluid 2xl:px-[140px] mt-[80px] lg:mt-[100px]"
  >
    <h2 class="text-3xl mb-4 font-bold tracking-tight text-white"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="150"
    >Focus sur le projet</h2>
    <p class="text-grayText w-[80%] text-base text-center"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200"
    >
      Entrer dans le monde du numérique avec aisance et expertise. Chez Hafo Web
      Solutions, nous donnons vie à vos idées avec des solutions web sur-mesure
      qui allient performance, design moderne et expérience utilisateur
      optimale. Notre approche unique met vos ambitions au cœur de notre
      processus créatif.
    </p>
  </article>
</section>

{% include 'components/cta.html.twig' %}
{% endblock %}
