{% extends 'base.html.twig' %} {% block title %} Services web complets :
Développement, maintenance, refonte et SEO {% endblock %} {% block description
%} Explorez nos services de développement web, maintenance, refonte et SEO.
Profitez de notre expertise pour des solutions adaptées à vos objectifs et à
votre budget. {% endblock %} {% block body %}

<!-- Site creation -->
<section class="default-mt default-container sm:container">
  <!-- Content Header -->
  <article class="flex flex-col lg:flex-row">
    <!-- Title -->
    <div class="lg:w-3/4 xl:w-1/2">
      <h1 class="default-h responsive-h1">Nos Services et Tarifs</h1>
      <p class="default-p mt-3">
        Découvrez l’expertise de Hafo Web Solutions, portée par des développeurs
        full stack passionnés, spécialisés en Symfony. Grâce à une approche
        innovante et sur mesure, nous offrons des solutions qui combinent
        créativité et technicité pour optimiser votre présence en ligne.
      </p>
    </div>
  </article>

  <article class="mt-10 flex flex-col">
    <!-- Title -->
    <div class="lg:w-1/2 mb-10">
      <h2 class="default-h responsive-h2">Développement de site web</h2>
    </div>
    <!-- Prices -->
    <div class="lg:w-full lg:items-center lg:flex lg:justify-center">
      <div
        class="flex flex-col justify-center items-center w-[100%] gap-10 md:flex-row md:flex-wrap 2xl:mt-0 lg:mt-0 lg:w-auto lg:grid lg:grid-cols-2 mac-size:grid-cols-4"
      >
        <!-- Basic -->
        <div
          class="default-border translate-effect bg-opacityBlue p-8 w-[320px] flex flex-col justify-between"
        >
          <div class="flex flex-col">
            <h3 class="default-h responsive-h3 pb-3">Basique</h3>
            <p class="default-p mb-8">
              Idéal pour les petites entreprises ou portfolios individuels
            </p>
            <div class="flex flex-col">
              <p class="text-[54px] text-white">1200 €</p>
              <p class="default-p italic text-sm">
                Prix indicatif, devis gratuit.
              </p>
              <p class="text-white font-medium text-lg mt-8 mb-3">
                Comprends :
              </p>
              <ul class="text-grayText mb-10">
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Design responsive
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Contenu statique
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Pages essentielles
                  </div>
                </li>
                <li class="flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Optimisation SEO de base
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a href="{{ path('app_contact') }}"
            ><button class="blue-button w-full">Devis gratuit</button></a
          >
        </div>
        <!-- Default -->
        <div
          class="default-border translate-effect bg-opacityBlue p-8 w-[320px] flex flex-col justify-between"
        >
          <div class="flex flex-col">
            <h3 class="default-h responsive-h3 pb-3">Standard</h3>
            <p class="default-p mb-8">
              Conçu pour les entreprises visant une croissance accrue
            </p>
            <div class="flex flex-col">
              <p class="text-[54px] text-white">2500 €</p>
              <p class="default-p italic text-sm">
                Prix indicatif, devis gratuit.
              </p>
              <p class="text-white font-medium text-lg mt-8 mb-3">
                Comprends :
              </p>
              <ul class="text-grayText mb-10">
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Fonctionnalités basiques
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Contenu dynamique
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Blog
                  </div>
                </li>
                <li class="flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Intégration réseaux sociaux
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a href="{{ path('app_contact') }}"
            ><button class="blue-button w-full">Devis gratuit</button></a
          >
        </div>

        <!-- Avanced -->
        <div
          class="default-border translate-effect bg-opacityBlue p-8 w-[320px] flex flex-col justify-between"
        >
          <div class="flex flex-col">
            <h3 class="default-h responsive-h3 pb-3">Avancé</h3>
            <p class="default-p mb-8">
              Parfait pour les grandes entreprises ou boutiques en ligne
            </p>

            <div class="flex flex-col">
              <p class="text-[54px] text-white">5000 €</p>
              <p class="default-p italic text-sm">
                Prix indicatif, devis gratuit.
              </p>
              <p class="text-white font-medium text-lg mt-8 mb-3">
                Comprends :
              </p>
              <ul class="text-grayText mb-10">
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Fonctionnalités standards
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Design sur mesure
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Pages e-commerce
                  </div>
                </li>
                <li class="flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Intégration CRM et newsletter
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a href="{{ path('app_contact') }}"
            ><button class="blue-button w-full">Devis gratuit</button></a
          >
        </div>

        <!-- Custom -->
        <div
          class="default-border translate-effect bg-opacityBlue p-8 w-[320px] flex flex-col justify-between"
        >
          <div class="flex flex-col">
            <h3 class="default-h responsive-h3 pb-3">Personnalisé</h3>
            <p class="default-p mb-8">
              Adapté aux projets nécessitant des solutions sur mesure
            </p>

            <div class="flex flex-col">
              <p class="text-[54px] text-white">Sur devis</p>
              <p class="default-p italic text-sm">
                Tarification sur mesure, devis gratuit.
              </p>
              <p class="text-white font-medium text-lg mt-8 mb-3">
                Comprends :
              </p>
              <ul class="text-grayText mb-10">
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Analyse personnalisée
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Fonctionnalités spécifiques
                  </div>
                </li>
                <li class="mb-3 flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Intégrations complexes
                  </div>
                </li>
                <li class="flex flex-col">
                  <div class="flex">
                    <span>
                      <img
                        src="{{ asset('./image/services/checked.svg') }}"
                        alt="checked"
                        class="h-6 w-6 mr-3"
                      />
                    </span>
                    Suivi et support dédiés
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a href="{{ path('app_contact') }}"
            ><button class="blue-button w-full">Devis gratuit</button></a
          >
        </div>
      </div>
    </div>
  </article>

  <article class="w-full default-mt flex flex-col lg:flex-row">
    <div class="lg:w-1/2">
      <!-- Development Specifique -->
      <div class="mb-10">
        <h3
          class="default-h responsive-h3"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Développement spécifique
        </h3>
        <p
          class="default-p mt-5"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Nous offrons des services de développement spécifique, facturés à
          l’heure, pour répondre à des besoins uniques avec flexibilité et
          transparence.
        </p>
        <p
          class="text-secondary mt-5 font-bold"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          Tarif horaire :
          <span
            class="font-normal"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="300"
            >30 - 45 €</span
          >
        </p>
        <p
          class="default-p italic text-sm"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          Tarif indicatif, devis gratuit.
        </p>
      </div>

      <!-- Tarif Journalier Équipe -->
      <div class="mb-10">
        <h3
          class="default-h responsive-h3"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Tarif journalier équipe
        </h3>
        <p
          class="default-p mt-5"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Pour des projets nécessitant une coordination intensive, notre tarif
          journalier garantit une mobilisation complète de notre équipe.
        </p>
        <p
          class="text-secondary mt-5 font-bold"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="250"
        >
          Tarif journalier :
          <span
            class="font-normal"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="300"
            >560 - 720 €</span
          >
        </p>
        <p
          class="default-p italic text-sm"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          Tarif indicatif, devis gratuit.
        </p>
      </div>

      <!-- Consultations et Devis Personnalisés -->
      <div>
        <h3
          class="default-h responsive-h3"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="150"
        >
          Consultations et devis personnalisés
        </h3>
        <p
          class="default-p mt-5"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="200"
        >
          Chaque projet est unique et mérite notre attention détaillée.
          Bénéficiez d’une
          <span class="text-secondary">consultation gratuite</span>
          pour définir ensemble la stratégie pour votre projet.
        </p>
      </div>
    </div>

    <!-- Block Refonte, Maintenance, Référencement -->
    <div
      class="default-mt lg:w-1/2 flex flex-col justify-between items-center gap-10 lg:items-end lg:mt-0"
    >
      <!-- Refonte -->
      <a
        href="{{ path('app_contact') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        <div class="flex justify-between relative">
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/expertise/refonte.svg') }}"
            class="absolute h-[60px] left-[196px] bottom-[-24px]"
          />
        </div>
        <h3 class="default-h responsive-h5">Refonte</h3>
        <p class="default-p mt-5">Avancé : 3800 €</p>
        <p class="default-p">Basique : 1000 €</p>
        <p class="default-p italic text-sm">Tarifs indicatif, devis gratuit.</p>
      </a>

      <!-- Maintenance -->
      <a
        href="{{ path('app_contact') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <div class="flex justify-between relative">
          <img
            style="transition-property: transform, left, bottom"
            alt="icon maintenance"
            src="{{ asset('./image/expertise/maintenance.svg') }}"
            class="absolute h-[60px] left-[196px] bottom-[-24px]"
          />
        </div>
        <h3 class="default-h responsive-h5">Maintenance</h3>
        <p class="default-p mt-5">Basique : 80 €/mois</p>
        <p class="default-p">Complet : 250 €/mois</p>
        <p class="default-p italic text-sm">Tarifs indicatif, devis gratuit.</p>
      </a>

      <!-- Référencement -->
      <a
        href="{{ path('app_contact') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        <div class="flex justify-between relative">
          <img
            style="transition-property: transform, left, bottom"
            alt="icon référencement"
            src="{{ asset('./image/expertise/referencement.svg') }}"
            class="absolute h-[60px] left-[196px] bottom-[-24px]"
          />
        </div>
        <h3 class="default-h responsive-h5">SEO</h3>
        <p class="default-p mt-5">Initial : 450 €</p>
        <p class="default-p">Continue : 250 €/mois</p>
        <p class="default-p italic text-sm">Tarifs indicatif, devis gratuit.</p>
      </a>
    </div>
  </article>
</section>

<!-- Component CTA -->
<!-- Title -->
{% set title = "Améliorez votre présence en ligne" %}
<!-- Content -->
{% set content %} Optimisez votre visibilité et performance avec notre équipe
spécialisée en développement web, maintenance, refonte et référencement vous
garantissant des résultats optimaux. Découvrez comment atteindre vos objectifs
en profitant de notre consultation gratuite.
<span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
{% endset %}
<!-- Button -->
{% set button = "Obtenez votre consultation gratuite maintenant" %}
<!-- CTA -->
{% include "./components/cta.html.twig" %} {% endblock %}
