{% extends 'base.html.twig' %} {% block title %} Lancement de projet web :
Préparation, déploiement et suivi {% endblock %} {% block description %} Apprenez
comment nous gérons le lancement de votre projet web avec succès. Nos étapes
incluent la préparation finale, le déploiement, et le suivi pour garantir une
mise en ligne sans heurt et performante. {% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("define") }}
{% endblock %} {% block body %}

<section class="default-mt w-full default-container sm:container">
  <!-- Content Header -->
  <article
    class="flex flex-col w-full gap-10 sm:container lg:flex-row lg:default-container"
  >
    <div class="lg:w-1/2 px-8 lg:px-0">
      <h1
        class="default-h responsive-h1"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Lancement du projet
      </h1>
      <p
        class="default-bp mt-3"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Lancez-vous avec confiance.
      </p>
      <p
        class="default-p mt-3"
        data-sal="fade-in"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        Lorsque votre stratégie est validée, nous passons à l’action. Nous
        activons le plan précis que nous avons établi ensemble pour réaliser vos
        objectifs. Chaque étape est soigneusement préparée pour assurer un
        démarrage fluide et établir une présence en ligne efficace et adaptée à
        vos besoins.
      </p>
      <div class="mt-10">
        <h2
          class="default-h responsive-h2"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="300"
        >
          L'importance de la planification
        </h2>
        <p
          class="default-p mt-3"
          data-sal="fade-in"
          data-sal-duration="800"
          data-sal-delay="350"
        >
          La planification est cruciale pour le succès de tout projet. Elle
          permet de définir des objectifs clairs, d'anticiper les obstacles et
          d'assurer une exécution fluide. Grâce à une planification rigoureuse,
          nous garantissons des résultats optimaux et une satisfaction client
          maximale.
        </p>
      </div>
    </div>

    <div class="lg:w-1/2">
      <img
        src="{{ asset('./image/support/launch.jpeg') }}"
        alt="creation de site"
        class="object-cover h-[560px] w-full"
      />
    </div>
  </article>

  <!-- process -->
  <article class="default-container sm:container">
    <h2
      class="default-h default-mt responsive-h2 mb-16"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="150"
    >
      Processus de lancement de projet
    </h2>
    <div
      class="flex flex-col text-center gap-10 lg:flex-row"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="200"
    >
      <div class="flex flex-col justify-center items-center pb-6 lg:py-0">
        <img
          src="{{ asset('./image/journey/check.svg') }}"
          class="h-16 w-16"
          alt="Symfony"
        />
        <h4 class="default-h responsive-h4 mt-4">Préparation finale</h4>
        <p class="default-p mt-3">
          Nous revérifions tous les aspects du projet pour nous assurer qu'ils
          répondent à vos attentes et aux normes de qualité. Si nécessaire, nous
          fournissons une formation pour vous familiariser avec les outils et
          les fonctionnalités développés.
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center py-6 lg:py-0 lg:px-8"
      >
        <img
          src="{{ asset('./image/journey/rocket.svg') }}"
          class="h-16 w-16"
          alt="Symfony"
        />
        <h4 class="default-h responsive-h4 mt-4">Déploiement</h4>
        <p class="default-p mt-3">
          Nous déployons votre projet sur le serveur de production, assurant une
          transition sans heurt et minimisant les interruptions. Des tests
          finaux en conditions réelles sont effectués pour vérifier que tout
          fonctionne parfaitement.
        </p>
      </div>
      <div class="flex flex-col justify-center items-center pt-6 lg:py-0">
        <img
          src="{{ asset('./image/journey/chart.svg') }}"
          class="h-16 w-16"
          alt="Symfony"
        />
        <h4 class="default-h responsive-h4 mt-4">Suivi et ajustements</h4>
        <p class="default-p mt-3">
          Nous surveillons la performance du site pour détecter et corriger
          rapidement toute anomalie. Des ajustements peuvent être faits pour
          améliorer encore plus la performance et l'expérience utilisateur.
        </p>
      </div>
    </div>
  </article>

  <!-- Partnership -->
  <article
    class="default-container sm:container default-mt flex flex-col w-full lg:flex-row lg:gap-8 lg:mt-[100px]"
  >
    <div class="flex flex-col justify-center mb-8 lg:w-1/2 lg:mb-0">
      <h2
        class="default-h responsive-h2 mb-[20px] lg:mb-0"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Un partenariat continu
      </h2>
    </div>
    <div class="default-border flex flex-col justify-center p-[25px] lg:w-1/2">
      <p
        class="default-p"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        Nous restons disponibles bien après le lancement de votre projet. Notre
        engagement inclut un support continu pour garantir le bon fonctionnement
        de votre site ou application. Nous sommes prêts à vous accompagner dans
        vos futurs projets, en vous aidant à innover et à vous adapter aux
        évolutions du marché. Avec notre équipe, vous avez l’assurance d’un
        partenariat fiable et durable.
      </p>
    </div>
  </article>
</section>

<!-- Component CTA -->
<!-- Title -->
{% set title = "Lancez votre projet aujourd'hui " %}
<!-- Content -->
{% set content %} Contactez-nous dès maintenant pour lancer votre projet avec
succès et bénéficier d'un suivi continu.
<span class="text-secondary">Nous reviendrons vers vous sous 24h.</span>
{% endset %}
<!-- Button -->
{% set button = "Planifiez votre projet" %}
<!-- CTA -->
{% include "./components/cta.html.twig" %} {% endblock %}
