{% block blog %}
<section class="default-container sm:container mt-[80px]">
  <!-- Section Header Starts -->
  <div class="flex flex-col w-full mb-[50px] xl:flex-row xl:justify-between">
    <div class="mb-[20px] xl:mb-0">
      <!-- Title -->
      <h3
        class="text-[34px] md:text-[38px] font-bold text-white leading-[1.19]"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        Nos Posts Récents
      </h3>
    </div>

    <!-- Navigation and Link -->
    <div
      class="flex justify-between"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      <!-- Previous/Next Buttons for Mobile -->
      <div class="lg:flex gap-3 flex xl:hidden">
        <!-- Previous Button -->
        <button
          id="prev"
          class="flex justify-center items-center bg-opacityBlue hover:bg-secondary h-[50px] w-[50px] rounded-[6px] duration-300 ease-in-out"
          onmouseover="this.querySelector('svg').classList.add('text-white', 'duration-300', 'ease-in-out')"
          onmouseout="this.querySelector('svg').classList.remove('text-white', 'duration-300', 'ease-in-out')"
        >
          <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            class="text-secondary"
          >
            <path
              d="M17.4166 11H4.58331"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11 17.4166L4.58331 10.9999L11 4.58325"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        <!-- Next Button -->
        <button
          id="next"
          class="flex justify-center items-center bg-opacityBlue hover:bg-secondary h-[50px] w-[50px] rounded-[6px] duration-300 ease-in-out"
          onmouseover="this.querySelector('svg').classList.add('text-white', 'duration-300', 'ease-in-out')"
          onmouseout="this.querySelector('svg').classList.remove('text-white', 'duration-300', 'ease-in-out')"
        >
          <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            class="text-secondary rotate-180"
          >
            <path
              d="M17.4166 11H4.58331"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11 17.4166L4.58331 10.9999L11 4.58325"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>

      <!-- View All Link -->
      <div
        class="flex"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        <a
          href="{{ path('app_blog') }}"
          class="uppercase flex items-center text-grayText text-[14px] font-medium hover:text-secondary transition duration-300 ease-in-out"
          >voir tout
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="17"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
          >
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!-- Section Header Ends -->

  <!-- Blog Posts Slider Starts -->
  <article
    class="swiper swiper-container flex pb-8"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="150"
  >
    <div class="swiper-wrapper">
      {% for post in posts %}
      <!-- Individual Slide Structure (repeat as needed) -->
      <div class="swiper-slide">
        <a href="{{ path('app_blog_detail', { id: post.id }) }}">
          <!-- Slide Content -->
          <div class="p-[18px] bg-whiteTransparency rounded-md">
            <!-- Image -->
            <div class="w-full overflow-hidden rounded-md">
              {% set image = post.getImageByType('post') %} {% if image %}
              <img
                src="{{ asset('/images/products/' ~ image.getImage() ) }}"
                alt="{{ image.getType() }}"
                class="object-cover w-full h-full"
              />
              {% else %}
              <p>Aucune image principale disponible</p>
              {% endif %}
            </div>

            <!-- Post Details -->
            <div class="mt-[18px]">
              <div
                class="text-secondary font-medium text-[12px] uppercase tracking-[1px]"
              >
                {% for category in post.category %}
                {{ category.name }}
                {% endfor %}
              </div>
              <h4
                class="text-white text-[23px] mt-[10px] font-semibold text-ellipsis"
              >
                {{ post.content | raw }}
              </h4>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <!-- Swiper Pagination -->
    <div class="swiper-pagination custom-pagination"></div>
  </article>

  <!-- Blog Posts Slider Ends -->
</section>
{% endblock blog %}
