{% block expertise %}
<section
  class="default-mt w-full default-container sm:container flex flex-col lg:items-center gap-x-8 2xl:items-center xl:items-center xl:gap-0 2xl:flex-row 2xl:mt-0
  {% if app.request.attributes.get('_route') != 'app_expertise' %} 2xl:h-screen {% endif %}"
>
  <article
    class="mb-[75px] w-min-[380px] lg:w-full flex flex-col xl:flex-start 2xl:mb-[200px]"
  >
    <div data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
      {% if expertise_subtitle is defined %}
      <p class="default-bp mb-3">{{ expertise_subtitle }}</p>
      {% endif %}
      <h2 class="default-h responsive-h2">{{ expertise_title }}</h2>
    </div>
    <div
      class="default-p mt-3 lg:w-3/4"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      {{ expertise_content | raw }}
    </div>
    {% if redirect is defined %}
    <a
      href="{{ path('app_expertise') }}"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="300"
      ><button class="blue-button mt-8">Découvrez nos expertises</button></a
    >
    {% endif %}
  </article>

  <article class="p-0 m-0 lg:w-full lg:items-center lg:flex lg:justify-center">
    <div
      class="flex flex-col justify-center items-center w-[100%] gap-[47px] md:flex-row md:flex-wrap 2xl:mt-0 lg:mt-0 lg:grid lg:grid-cols-2 lg:w-auto"
    >
      <!-- Création de site -->
      <a
        href="{{ path('app_expertise_site_creation') }}"
        class="default-border blur-intensify bg-whiteTransparency px-8 py-6 w-[300px] translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.3]">IMPACT</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon cretion de site"
            src="{{ asset('./image/expertise/creation.svg') }}"
            class="absolute h-[80px] left-[173px] bottom-[-15px]"
          />
        </div>
        <h3 class="default-h text-[24px] mt-8">Création de site</h3>
        <p class="default-p mt-3">
          Développement de site web intuitif au design moderne pour une présence
          numérique forte.
        </p>
      </a>

      <!-- Refonte -->
      <a
        href="{{ path('app_expertise_redesign') }}"
        class="default-border blur-intensify bg-whiteTransparency px-8 py-6 w-[300px] translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.3]">ÉVOLUTION</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/expertise/refonte.svg') }}"
            class="absolute h-[80px] left-[173px] bottom-[-15px]"
          />
        </div>
        <h3 class="default-h text-[24px] mt-8">Refonte</h3>
        <p class="default-p mt-3">
          Boostez votre présence en ligne avec une refonte de site axée sur la
          performance et le design.
        </p>
      </a>

      <!-- Maintenance -->
      <a
        href="{{ path('app_expertise_maintenance') }}"
        class="default-border blur-intensify bg-whiteTransparency px-8 py-6 w-[300px] translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.3]">FIABILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon maintenance"
            src="{{ asset('./image/expertise/maintenance.svg') }}"
            class="absolute h-[80px] left-[173px] bottom-[-15px]"
          />
        </div>
        <h3 class="default-h text-[24px] mt-8">Maintenance</h3>
        <p class="default-p mt-3">
          Maintenance proactive et support continu pour assurer une fiabilité
          sans faille.
        </p>
      </a>

      <!-- Référencement -->
      <a
        href="{{ path('app_expertise_seo') }}"
        class="default-border blur-intensify bg-whiteTransparency px-8 py-6 w-[300px] translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="300"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.3]">VISIBILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon référencement"
            src="{{ asset('./image/expertise/referencement.svg') }}"
            class="absolute h-[80px] left-[173px] bottom-[-15px]"
          />
        </div>
        <h3 class="default-h text-[24px] mt-8">Référencement</h3>
        <p class="default-p mt-3">
          Améliorez votre visibilité avec un référencement naturel efficace, et
          un code optimisé.
        </p>
      </a>
    </div>
  </article>
</section>
{% endblock expertise %}
