{% block expertise %}
<style>
/* custom.css */
@keyframes translateYTo0 {
  from {
      transform: translateY(180px);
  }
  to {
      transform: translateY(0);
  }
}

.custom-transition {
  animation: translateYTo0 400ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}

.custom-transition2 {
  animation: translateYTo0 600ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}
.custom-transition3 {
  animation: translateYTo0 800ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}
.custom-transition4 {
  animation: translateYTo0 1000ms cubic-bezier(0.17, 0.67, 0, 1.01) forwards;
}
</style>

<section
  class="default-container mb-[100px] flex flex-wrap justify-center"
>
  <article class="mb-16 w-min-[380px]">
    <h2 class="text-3xl font-bold tracking-tight text-white" 
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="150">
      Explorez notre Savoir-Faire
    </h2>
    <p class="text-[#00A3FF] mt-3 text-base"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200"
    >
      Votre projet, notre expertise
    </p>
    <p class="text-[#ACACAC] mt-3 mb-8 text-base" 
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200"
    >
      Plongez dans l’univers du digital avec aisance et précision. Nous
      transformons vos visions en réalisations numériques personnalisées,
      combinant performance, esthétique moderne et expérience utilisateur
      optimale. Vos ambitions sont au coeur de notre démarche créative
    </p>
    <a
      href="#"
      class="py-4 px-8 text-white font-semibold bg-[#00A3FF] cursor-pointer rounded-lg"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
      >Découvrez nos services</a
    >
  </article>

  <article class="p-0 m-0">
    <div class="flex justify-center flex-wrap w-[100%] sibling-fade"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200" 
    >
        <!-- Création de site -->
      <a href="#"
        class="bg-[#191925] rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">IMPACT</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon cretion de site"
            src="{{ asset('./image/expertise/creation.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Création de site</h3>
        <p class="text-[#ACACAC] mt-2 mb-3 text-base">
          Développement de site web intuitif au design moderne pour une présence
          numérique forte.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Création de site"
        />
        </a>
      <!-- Refonte -->
      <a href="#"
        class="bg-[#191925]  rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition2"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">ÉVOLUTION</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/expertise/refonte.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Refonte</h3>
        <p class="text-[#ACACAC] mt-2 mb-3 text-base">
          Boostez votre présence en ligne avec une refonte de site axée sur la
          performance et le design.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Refonte"
        />
      </a>
       <!-- Maintenance -->
        <a href="#"
        class="bg-[#191925] rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition3"
      >
        <div class="flex justify-between relative h-4">
          <p class="text-[#ACACAC] text-sm">FIABILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon maintenance"
            src="{{ asset('./image/expertise/maintenance.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-2">Maintenance</h3>
        <p class="text-[#ACACAC] mt-2 mb-3 text-base">
          Maintenance proactive et support continu pour assurer une fiabilité
          sans faille de votre site web.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Maintenance"
        />
      </a>
      <!-- Référencement -->
      <a href="#"
        class="bg-[#191925]  rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition4"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">VISIBILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon référencement"
            src="{{ asset('./image/expertise/referencement.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Référencement</h3>
        <p class="text-[#ACACAC] mt-2 mb-3 text-base">
          Améliorez votre visibilité avec un référencement naturel efficace,
          grâce à un code optimisé.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Référencement"
        />
      </a> 

    </div>
  </article>
</section>
{% endblock expertise %}
