{% block expertise %}
<section class="w-full default-container 2xl:container-fluid 2xl:px-[140px] mb-[100px] flex flex-col expertise-size:flex-row flex-wrap justify-center">
  <article class="mb-16 w-min-[380px] expertise-size:w-1/2">
    <h2
      class="text-3xl font-bold tracking-tight text-white"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      Explorez notre Savoir-Faire
    </h2>
    <p
      class="text-secondary mt-3 text-base"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      Votre projet, notre expertise
    </p>
    <p
      class="text-grayText mt-3 mb-8 text-base"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      Plongez dans l’univers du digital avec aisance et précision. Nous
      transformons vos visions en réalisations numériques personnalisées,
      combinant performance, esthétique moderne et expérience utilisateur
      optimale. Vos ambitions sont au coeur de notre démarche créative
    </p>
    <a
      href="{{ path('app_services_and_prices') }}"
      class="py-4 px-8 text-white font-semibold bg-secondary hover:bg-tertiary cursor-pointer rounded-lg"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
      >Découvrez nos services
    </a>
  </article>

  <article class="p-0 m-0 expertise-size:w-1/2">
    <div
      class="flex justify-center flex-wrap w-[100%] sibling-fade"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      <!-- Création de site -->
      <a
        href="{{ path('app_expertise_site_creation') }}"
        class="bg-quaternary rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText text-sm">IMPACT</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon cretion de site"
            src="{{ asset('./image/expertise/creation.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Création de site</h3>
        <p class="text-grayText mt-2 mb-3 text-base">
          Développement de site web intuitif au design moderne pour une présence
          numérique forte.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Création de site"
        />
      </a>

      <!-- Refonte -->
      <a
        href="{{ path('app_expertise_redesign') }}"
        class="bg-quaternary rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition2"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText text-sm">ÉVOLUTION</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/expertise/refonte.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Refonte</h3>
        <p class="text-grayText mt-2 mb-3 text-base">
          Boostez votre présence en ligne avec une refonte de site axée sur la
          performance et le design.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Refonte"
        />
      </a>

      <!-- Maintenance -->
      <a
        href="{{ path('app_expertise_maintenance') }}"
        class="bg-quaternary rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition3"
      >
        <div class="flex justify-between relative h-4">
          <p class="text-grayText text-sm">FIABILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon maintenance"
            src="{{ asset('./image/expertise/maintenance.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-2">Maintenance</h3>
        <p class="text-grayText mt-2 mb-3 text-base">
          Maintenance proactive et support continu pour assurer une fiabilité
          sans faille de votre site web.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Maintenance"
        />
      </a>

      <!-- Référencement -->
      <a
        href="{{ path('app_expertise_seo') }}" 
        class="bg-quaternary rounded-lg p-6 cursor-pointer w-[290px] h-[220px] m-4 custom-transition4"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText text-sm">VISIBILITÉ</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon référencement"
            src="{{ asset('./image/expertise/referencement.svg') }}"
            class="absolute w-[80px] left-[200px] bottom-[0px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-1">Référencement</h3>
        <p class="text-grayText mt-2 mb-3 text-base">
          Améliorez votre visibilité avec un référencement naturel efficace,
          grâce à un code optimisé.
        </p>
        <img
          src="{{ asset('./image/expertise/arrow.svg') }}"
          class="h-5"
          alt="redirection Référencement"
        />
      </a>
    </div>
  </article>
</section>
{% endblock expertise %}
