{% block faq %}
<section class="default-container w-full sm:container lg:my-0">
  <article
    class="default-mt flex flex-col items-center w-full mt-5 gap-x-8 md:items-start lg:flex-row"
  >
    <!-- Block Questions -->
    <div class="lg:w-1/2">
      <!-- Block Question 1 -->
      {% if faq_question1_title is defined %}
      <div data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
        <h4 class="default-h responsive-h4 space-select">
          {{ faq_question1_title }}
        </h4>
        <p class="default-p mt-4 flex flex-col gap-2">
          {{ faq_question1_content | raw }}
        </p>
      </div>
      {% endif %}

      <!-- Block Question 2 -->
      {% if faq_question2_title is defined %}
      <div
        class="mt-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        <h4 class="default-h responsive-h4">
          {{ faq_question2_title }}
        </h4>
        <p class="default-p mt-4 flex flex-col gap-2">
          {{ faq_question2_content | raw }}
        </p>
      </div>
      {% endif %}

      <!-- Block Question 3 -->
      {% if faq_question3_title is defined %}
      <div
        class="mt-8"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="300"
      >
        <h4 class="default-h responsive-h4">
          {{ faq_question3_title }}
        </h4>
        <p class="default-p mt-4 flex flex-col gap-2">
          {{ faq_question3_content | raw }}
        </p>
      </div>
      {% endif %}
      <div
        class="flex mt-8 gap-4 md:flex-row"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="350"
      >
        <a href="{{ path('app_contact') }}"
          ><button
            class="py-3 px-4 text-white rounded-[10px] font-medium bg-secondary hover:bg-tertiary tracking-[0.5px] ease-in-out duration-300"
          >
            Nous contacter
          </button></a
        >
        <a href="{{ path('app_support_center') }}"
          ><button
            class="py-3 px-4 text-white rounded-[10px] font-medium hover:bg-secondary bg-tertiary tracking-[0.5px] ease-in-out duration-300"
          >
            Centre de Support
          </button></a
        >
      </div>
    </div>

    <!-- Block Accordion -->
    <ul class="mt-10 lg:mt-0 lg:w-1/2" x-data="{ selected: 1 }">
      <!-- Block Question 1 -->
      {% if faq_question4_title is defined %}
      <li
        class="relative bg-opacityBlue rounded-md"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        <button
          type="button"
          class="w-full bg-whiteTransparency rounded-t-md px-5"
          @click="selected !== 1 ? selected = 1 : selected = null"
        >
          <div class="flex items-center justify-between h-[70px]">
            <h4
              class="text-left md:text-xl"
              :class="{ 'text-secondary ease-in-out duration-300': selected === 1, 'text-white ease-in-out duration-300': selected !== 1 }"
            >
              {{ faq_question4_title }}
            </h4>
            <span class="ico-plus">
              <svg
                :class="selected === 1 ? 'transform rotate-180' : ''"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="none"
                :stroke="selected === 1 ? '#00A3FF' : 'white'"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-up"
              >
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </span>
          </div>
        </button>
        <div
          class="relative overflow-hidden transition-all max-h-0 duration-300"
          x-ref="container1"
          x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
        >
          <p class="default-p py-3 px-5 flex flex-col gap-2">
            {{ faq_question4_content | raw }}
          </p>
        </div>
      </li>
      {% endif %}

      <!-- Block Question 2 -->
      {% if faq_question5_title is defined %}
      <li
        class="relative bg-opacityBlue rounded-md mt-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <button
          type="button"
          class="w-full bg-whiteTransparency rounded-t-md px-5"
          @click="selected !== 2 ? selected = 2 : selected = null"
        >
          <div class="flex items-center justify-between h-[70px]">
            <h4
              class="text-left md:text-xl"
              :class="{ 'text-secondary ease-in-out duration-300': selected === 2, 'text-white ease-in-out duration-300': selected !== 2 }"
            >
              {{ faq_question5_title }}
            </h4>
            <span class="ico-plus">
              <span class="ico-plus">
                <svg
                  :class="selected === 2 ? 'transform rotate-180' : ''"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewbox="0 0 24 24"
                  fill="none"
                  :stroke="selected === 2 ? '#00A3FF' : 'white'"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevron-up"
                >
                  <polyline points="18 15 12 9 6 15"></polyline>
                </svg>
              </span>
            </span>
          </div>
        </button>
        <div
          class="relative overflow-hidden transition-all max-h-0 duration-300"
          x-ref="container2"
          x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
        >
          <p class="default-p p-6 flex flex-col gap-2">
            {{ faq_question5_content | raw }}
          </p>
        </div>
      </li>
      {% endif %}

      <!-- Block Question 3 -->
      {% if faq_question6_title is defined %}
      <li
        class="relative bg-opacityBlue rounded-md mt-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        <button
          type="button"
          class="w-full bg-whiteTransparency rounded-t-md px-5"
          @click="selected !== 3 ? selected = 3 : selected = null"
        >
          <div class="flex items-center justify-between h-[70px]">
            <h4
              class="text-left md:text-xl"
              :class="{ 'text-secondary ease-in-out duration-300': selected === 3, 'text-white ease-in-out duration-300': selected !== 3 }"
            >
              {{ faq_question6_title }}
            </h4>
            <span class="ico-plus">
              <svg
                :class="selected === 3 ? 'transform rotate-180' : ''"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="none"
                :stroke="selected === 3 ? '#00A3FF' : 'white'"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-up"
              >
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </span>
          </div>
        </button>
        <div
          class="relative overflow-hidden transition-all max-h-0 duration-300"
          x-ref="container3"
          x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
        >
          <p class="default-p py-3 px-5 flex flex-col gap-2">
            {{ faq_question6_content | raw }}
          </p>
        </div>
      </li>
      {% endif %}

      <!-- Block Question 4 -->
      {% if faq_question7_title is defined %}
      <li
        class="relative bg-opacityBlue rounded-md mt-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="300"
      >
        <button
          type="button"
          class="w-full bg-whiteTransparency rounded-t-md px-5"
          @click="selected !== 4 ? selected = 4 : selected = null"
        >
          <div class="flex items-center justify-between h-[70px]">
            <h4
              class="text-left md:text-xl"
              :class="{ 'text-secondary ease-in-out duration-300': selected === 4, 'text-white ease-in-out duration-300': selected !== 4 }"
            >
              {{ faq_question7_title }}
            </h4>
            <span class="ico-plus">
              <svg
                :class="selected === 4 ? 'transform rotate-180' : ''"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="none"
                :stroke="selected === 4 ? '#00A3FF' : 'white'"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-up"
              >
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </span>
          </div>
        </button>
        <div
          class="relative overflow-hidden transition-all max-h-0 duration-300"
          x-ref="container4"
          x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''"
        >
          <p class="default-p py-3 px-5 flex flex-col gap-2">
            {{ faq_question7_content | raw }}
          </p>
        </div>
      </li>
      {% endif %}

      <!-- Block Question 5 -->
      {% if faq_question8_title is defined %}
      <li
        class="relative bg-opacityBlue rounded-md mt-3"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="350"
      >
        <button
          type="button"
          class="w-full bg-whiteTransparency rounded-t-md px-5"
          @click="selected !== 5 ? selected = 5 : selected = null"
        >
          <div class="flex items-center justify-between h-[70px]">
            <h4
              class="text-left md:text-xl"
              :class="{ 'text-secondary ease-in-out duration-300': selected === 5, 'text-white ease-in-out duration-300': selected !== 5 }"
            >
              {{ faq_question8_title }}
            </h4>
            <span class="ico-plus">
              <svg
                :class="selected === 5 ? 'transform rotate-180' : ''"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="none"
                :stroke="selected === 5 ? '#00A3FF' : 'white'"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-up"
              >
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </span>
          </div>
        </button>
        <div
          class="relative overflow-hidden transition-all max-h-0 duration-300"
          x-ref="container5"
          x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
        >
          <p class="default-p py-3 px-5 flex flex-col gap-2">
            {{ faq_question8_content | raw }}
          </p>
        </div>
      </li>
      {% endif %}
    </ul>
  </article>
</section>
{% endblock faq %}
