{% block footer %}

<!-- Footer -->
<footer class="bg-whiteTransparency">
  <div class="py-20 mt-20 lg:mt-100 lg:py-100">
    <div
      class="default-container sm:container sm-flex-col sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-x-8 sm:gap-y-10 lg:gap-8"
    >
      <!-- container 1/4 hero -->
      <div>
        <a href="{{ path('app_default') }}" class="inline-block">
          <img
            src="{{ asset('images/logo-white.svg') }}"
            alt="Hafo Web Solutions"
        /></a>
        <p class="text-lg text-grayText mt-3">
          Innovation et expertise unies pour réaliser votre vision du digitale.
        </p>
        <h6
          class="text-base border-t border-borderBase pt-10 mt-10 text-grayText"
        >
          Hafo Web Solutions
        </h6>
        <ul>
          <li class="my-2.5">
            <a
              class="border-expand relative text-base text-grayText hover:text-secondary duration-300 ease-in-out"
              href="tel:06 18 86 59 97"
              >06 18 86 59 97</a
            >
          </li>
          <li>
            <a
              class="border-expand relative text-base text-grayText hover:text-secondary duration-300 ease-in-out"
              href="mailto:contact@hafowebsolutions.fr"
              >contact@hafowebsolutions.fr</a
            >
          </li>
        </ul>
      </div>

      <!-- container 2/4 navigation links -->
      <div class="xl:ml-100 lg:ml-50 mt-10 sm:mt-0">
        <h6 class="text-2xl font-semibold text-white">Développement</h6>
        <ul class="mt-6 space-y-2.5">
          <li>
            <a
              href="{{ path('app_expertise_site_creation') }}" 
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Création de Site
            </a>
          </li>
          <li>
            <a
            href="{{ path('app_expertise_redesign') }}" 
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Refonte
            </a>
          </li>
          <li>
            <a
            href="{{ path('app_expertise_maintenance') }}"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Maintenance
            </a>
          </li>
          <li>
            <a
              href="{{ path('app_expertise_seo') }}" 
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Référencement
            </a>
          </li>
        </ul>
      </div>

      <!-- container 3/4 navigation links-->
      <div class="lg:ml-50 xl:ml-100 mt-10 sm:mt-0">
        <h6 class="text-2xl font-semibold text-white">Hafo</h6>
        <ul class="mt-6 space-y-2.5">
          <li>
            <a
              href="placeholder"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Réalisations
            </a>
          </li>
          <li>
            <a
              href="{{ path('app_agency') }}"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Agence
            </a>
          </li>
          <li>
            <a
              href="placeholder"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Blog
            </a>
          </li>
          <li>
            <a
              href="placeholder"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Contact
            </a>
          </li>
          <li>
            <a
              href="placeholder"
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
            >
              Support / FAQ
            </a>
          </li>
        </ul>
      </div>

      <!-- Container 4/4 blog -->
      <div class="mt-10 sm:mt-0">
        <h6 class="text-2xl font-semibold text-white">Posts Récents</h6>
        <ul class="mt-6 sibling-fade">
          <li>
            <a
              class="flex border-b border-borderBase pb-2.5"
              href="placeholder"
            >
              <img
                src="https://static.vecteezy.com/system/resources/previews/000/304/787/original/vector-responsive-web-design.jpg"
                alt="placeholder"
                class="h-16 w-16 rounded-full mr-3 object-cover"
              />
              <div class="flex flex-col justify-center">
                <div class="text-xs text-secondary uppercase">Lorem ipsum</div>
                <h6 class="text-sm text-grayText text-ellipsis">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Veritatis dignissimos quod eaque. Temporibus atque laudantium
                  minima reiciendis magnam dolor? Quod nulla voluptatibus
                  consectetur consequuntur, laboriosam dicta reprehenderit
                  commodi reiciendis blanditiis.
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a
              class="flex border-b border-borderBase py-2.5"
              href="placeholder"
            >
              <img
                src="https://dc722jrlp2zu8.cloudfront.net/media/featured_images/LARAVEL_VS_SYMFONY.jpg"
                alt="placeholder"
                class="h-16 w-16 rounded-full mr-3 object-cover"
              />
              <div class="flex flex-col justify-center">
                <div class="text-xs text-secondary uppercase">Lorem ipsum</div>
                <h6 class="text-sm text-grayText text-ellipsis">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Porro maiores enim dicta hic harum facilis doloremque possimus
                  voluptatem praesentium recusandae modi, magni laborum qui
                  tenetur non quisquam. Consequatur, omnis saepe?
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a class="flex pt-2.5" href="placeholder">
              <img
                src="https://th.bing.com/th/id/R.00b785fb439e96e69a9d3f10f6288317?rik=v5lxBeFiEKVo9w&riu=http%3a%2f%2fethsam.fr%2fimages%2fuploads%2f2023%2f02%2f14%2fsecure-by-design-symfony-developpeur-reunion.jpg&ehk=Mt%2bsZ0CiN6zvdYiC8t1%2bBaW6e6pxZb%2f%2fqyL6qBbWhZs%3d&risl=&pid=ImgRaw&r=0"
                alt="placeholder"
                class="h-16 w-16 rounded-full mr-3 object-cover"
              />
              <div class="flex flex-col justify-center">
                <div class="text-xs text-secondary uppercase">Lorem ipsum</div>
                <h6 class="text-sm text-grayText text-ellipsis">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                  odit cumque officiis harum, fugiat voluptatibus nisi! Rerum
                  debitis optio cumque aut eaque alias, amet culpa ipsum,
                  explicabo obcaecati similique expedita.
                </h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div class="py-5 border-t border-borderBase">
    <div
      class="default-container sm:container flex flex-col items-center lg:flex-row lg:justify-between"
    >
      <div class="flex flex-col items-center md:flex-row">
        <span class="text-base text-center text-grayText">
          &copy;2024 Hafo Web Solutions. Tous droits réservés.
        </span>

        <!-- separator -->
        <div
          class="hidden border-l border-borderBase h-6 mx-8 md:block md:mx-2 lg:mx-4 xl:mx-8"
        ></div>

        <!-- privacy -->
        <ul class="flex my-2.5">
          <li>
            <a
              href=""
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
              >CGV</a
            >
          </li>
          <span class="text-grayText mx-3">&bull;</span>
          <li>
            <a
              href=""
              class="border-expand text-base relative text-grayText hover:text-secondary duration-300 ease-in-out"
              >Mentions légales</a
            >
          </li>
        </ul>
      </div>

      <!-- social -->
      <ul class="flex gap-x-2.5">
        <li>
          <a
            href="placeholder"
            class="dark rounded-full h-10 w-10 flex items-center justify-center bg-darkBlue hover:bg-secondary duration-300 ease-in-out stroke-grayText hover:stroke-white"
          >
            <svg
              class=""
              width="18"
              height="17"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.2 5.7998C13.4731 5.7998 14.694 6.30552 15.5941 7.20569C16.4943 8.10587 17 9.32677 17 10.5998V16.1998H13.8V10.5998C13.8 10.1755 13.6315 9.76849 13.3314 9.46843C13.0313 9.16838 12.6244 8.9998 12.2 8.9998C11.7757 8.9998 11.3687 9.16838 11.0687 9.46843C10.7686 9.76849 10.6 10.1755 10.6 10.5998V16.1998H7.40002V10.5998C7.40002 9.32677 7.90574 8.10587 8.80591 7.20569C9.70609 6.30552 10.927 5.7998 12.2 5.7998Z"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.2 6.6001H1V16.2001H4.2V6.6001Z"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2.6 4.2C3.48366 4.2 4.2 3.48366 4.2 2.6C4.2 1.71634 3.48366 1 2.6 1C1.71634 1 1 1.71634 1 2.6C1 3.48366 1.71634 4.2 2.6 4.2Z"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="placeholder"
            class="dark rounded-full h-10 w-10 flex items-center justify-center bg-darkBlue hover:bg-secondary duration-300 ease-in-out stroke-grayText hover:stroke-white"
          >
            <svg
              width="15"
              height="18"
              viewBox="0 0 15 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.70388 17V14.7251L5.73381 13.1084C5.76976 12.6054 5.96571 12.1314 6.28809 11.7644C6.29281 11.759 6.29756 11.7537 6.30234 11.7484C6.31478 11.7345 6.30659 11.7121 6.28809 11.7098C4.13384 11.4409 1.88936 10.5313 1.88936 6.5711C1.87532 5.59574 2.19354 4.6502 2.78169 3.90858C2.80227 3.88264 2.82317 3.85694 2.8444 3.83151C2.87204 3.7984 2.88108 3.75353 2.86842 3.7123C2.86765 3.7098 2.86688 3.7073 2.86612 3.70479C2.85176 3.65769 2.83829 3.61037 2.8257 3.56285C2.6095 2.74644 2.65598 1.87434 2.96027 1.08727C2.96251 1.08146 2.96477 1.07565 2.96705 1.06985C2.97841 1.04088 3.00226 1.01874 3.0329 1.01327C3.22393 0.979209 3.9959 0.933636 5.47379 1.95419C5.51979 1.98595 5.56646 2.01875 5.61383 2.0526C5.64804 2.07705 5.69153 2.08454 5.73197 2.07303L5.7358 2.07194C5.81513 2.04939 5.89468 2.02799 5.9744 2.00773C7.37923 1.6509 8.84305 1.6509 10.2478 2.00773C10.3235 2.02693 10.3989 2.04717 10.4742 2.06844L10.479 2.06983C10.5266 2.08331 10.5777 2.07451 10.618 2.0458C10.6621 2.01435 10.7055 1.98381 10.7485 1.95419C12.2229 0.935787 12.9906 0.979022 13.1825 1.01306C13.2137 1.0186 13.2381 1.04114 13.2498 1.07063C13.2513 1.07443 13.2527 1.07821 13.2542 1.08201C13.5637 1.86943 13.6128 2.74413 13.3965 3.56285C13.3836 3.61165 13.3697 3.66027 13.355 3.70865C13.3416 3.75216 13.3512 3.79948 13.3803 3.83444L13.383 3.83773C13.4025 3.86113 13.4217 3.88475 13.4406 3.90858C14.0287 4.6502 14.347 5.59574 14.3329 6.5711C14.3329 10.5529 12.0725 11.4387 9.90794 11.68C9.89541 11.6813 9.8898 11.6964 9.89825 11.7057C9.90145 11.7092 9.90474 11.7128 9.90794 11.7164C10.1263 11.9596 10.2958 12.2484 10.4054 12.5647C10.5201 12.8955 10.5668 13.2486 10.5423 13.6004V17"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1 13.4443C1.32813 13.4908 1.64141 13.6117 1.91613 13.7977C2.19084 13.9837 2.41979 14.2299 2.5856 14.5179C2.7265 14.7743 2.91645 15.0002 3.14457 15.1827C3.37268 15.3652 3.63448 15.5008 3.91492 15.5815C4.19536 15.6623 4.48892 15.6866 4.77877 15.6532C5.06862 15.6199 5.34905 15.5294 5.60396 15.387"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="placeholder"
            class="dark rounded-full h-10 w-10 flex items-center justify-center bg-darkBlue hover:bg-secondary duration-300 ease-in-out stroke-grayText hover:stroke-white"
          >
            <svg
              width="15"
              height="13"
              viewBox="0 0 15 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.33375 1H13.0038C13.7373 1 14.3375 1.60019 14.3375 2.33375V10.3363C14.3375 11.0698 13.7373 11.67 13.0038 11.67H2.33375C1.60019 11.67 1 11.0698 1 10.3363V2.33375C1 1.60019 1.60019 1 2.33375 1Z"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14.3375 2.33398L7.66875 7.00211L1 2.33398"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
