{% block hero %}
<section
  class="height-nav sm:container default-container flex justify-center items-center hero-section"
>
<div class="hero-glow">
</div>
  <article
    class="md:w-4/6 flex flex-col justify-center items-center mb-[100px]"
  >
    <p class="default-bp mb-3">AGENCE HAFO WEB SOLUTIONS</p>
    <h1 class="default-h responsive-h1 text-center mb-5">
      Transformez Votre Vision en Réalité Numérique
    </h1>
    <p class="default-p text-center mb-8">
      Explorez nos solutions web personnalisées, conçues pour concrétiser vos
      idées et faire de votre vision une réalité numérique.
    </p>
    <a href="{{ path('app_services_and_prices') }}">
      <button class="blue-button">Explorez nos services</button>
    </a>

    <!-- item icon with tooltip -->
    {#
    <div class="hidden flex-col md:flex-row gap-3">
      <div class="flex gap-[15px]">
        <a class="relative group cursor-pointer">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-sm rounded-[5px] py-[5px] px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Stratégie
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/strategy.svg') }}"
              alt="strategy icon"
            />
          </div>
        </a>

        <div class="relative group">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-xs rounded py-1 px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Stratégie
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/code.svg') }}"
              alt="strategy icon"
            />
          </div>
        </div>

        <div class="relative group">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-xs rounded py-1 px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Stratégie
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/design.svg') }}"
              alt="strategy icon"
            />
          </div>
        </div>
      </div>

      <div class="flex gap-[15px]">
        <div class="relative group">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-xs rounded py-1 px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Stratégie
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/secure.svg') }}"
              alt="strategy icon"
            />
          </div>
        </div>

        <div class="relative group flex flex-col justify-center">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-xs rounded py-1 px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Maintenance
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/maintenance.svg') }}"
              alt="strategy icon"
            />
          </div>
        </div>

        <div class="relative group">
          <div class="relative mb-2">
            <div
              class="bg-tertiary text-white text-center text-xs rounded py-1 px-2 right-0 bottom-full invisible opacity-0 group-hover:visible group-hover:opacity-100"
            >
              Seo
              <svg
                class="absolute text-tertiary h-2 w-full left-0 top-full"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>

          <div
            class="w-[60px] h-[60px] p-[10px] rounded-md bg-[#24243557] border border-borderBase flex justify-center items-center"
          >
            <img
              src="{{ asset('./image/hero/seo.svg') }}"
              alt="strategy icon"
            />
          </div>
        </div>
      </div>
    </div>
    #}
  </article>
</section>
{% endblock hero %}
