{% block journey %}
<section
  class="w-full sm:container default-container mt-[80px] lg:mt-[100px] xl:flex xl:flex-col xl:justify-center xl:items-center"
>
  <!-- title section -->
  <div
    class="xl:flex xl:flex-col xl:flex-start xl:w-full"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="150"
  >
    <h2
      class="text-[34px] md:text-[38px] xl:text-[50px] font-bold tracking-tight mb-[10px] text-white leading-[1.19]"
    >
      {{ title }}
    </h2>
    <!-- text section -->
    <p class="text-grayText mb-[75px]">
      {{ subtitle }}
    </p>
  </div>

  <!-- Step Journey -->
  <article class="p-0 m-0 lg:w-full lg:items-center lg:flex lg:justify-center">
    <div
      class="flex flex-col justify-center items-center w-[100%] gap-[47px] md:flex-row md:flex-wrap 2xl:mt-0 lg:mt-0 lg:grid lg:grid-cols-2 lg:w-auto 2xl:grid-cols-4"
    >
      <!-- Step 01 - Definir objectif -->
      <a
        href="{{ path('app_define_your_goals') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="150"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.1]">ÉTAPE-01</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/journey/step1.svg') }}"
            class="absolute h-[80px] left-[204px] bottom-[-15px]"
          />
        </div>
        <h3 class="text-white font-bold text-[25px] mt-[30px]">
          Définir vos objectifs
        </h3>
        <p class="text-grayText mt-[10px] text-base leading-[28px]">
          Définissez précisément vos objectifs pour orienter et assurer le
          succès de votre projet.
        </p>
      </a>

      <!-- Step 02 - Contactez-nous -->
      <a
        href="{{ path('app_define_your_goals') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.1]">ÉTAPE-02</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/journey/step2.svg') }}"
            class="absolute h-[80px] left-[204px] bottom-[-2px]"
          />
        </div>
        <h3 class="text-white font-bold text-[25px] mt-[30px]">
          Contactez-nous
        </h3>
        <p class="text-grayText mt-[10px] text-base leading-[28px]">
          Prenez l’initiative de nous joindre pour discuter en détail de vos
          idées et besoins spécifiques.
        </p>
      </a>

      <!-- Step 03 - Planifions ensemble -->
      <a
        href="{{ path('app_define_your_goals') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="250"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.1]">ÉTAPE-03</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/journey/step3.svg') }}"
            class="absolute h-[80px] left-[204px] bottom-[-15px]"
          />
        </div>
        <h3 class="text-white font-bold text-[25px] mt-[30px]">
          Planifions ensemble
        </h3>
        <p class="text-grayText mt-[10px] text-base leading-[28px]">
          Nous établirons un plan précis qui détaille chaque étape pour
          atteindre vos objectifs.
        </p>
      </a>

      <!-- Step 04 - Lancement du projet -->
      <a
        href="{{ path('app_define_your_goals') }}"
        class="blur-intensify bg-whiteTransparency rounded-[6px] px-[30px] py-[25px] w-[300px] border border-borderBase translate-effect"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="300"
      >
        <div class="flex justify-between relative">
          <p class="text-grayText font-semibold opacity-[0.1]">ÉTAPE-04</p>
          <img
            style="transition-property: transform, left, bottom"
            alt="icon refonte"
            src="{{ asset('./image/journey/step4.svg') }}"
            class="absolute h-[80px] left-[204px] bottom-[-15px]"
          />
        </div>
        <h3 class="text-white font-bold text-[25px] mt-[30px]">
          Lancement du projet
        </h3>
        <p class="text-grayText mt-[10px] text-base leading-[28px]">
          Une fois le plan approuvé, nous commençons la mise en œuvre pour
          réaliser vos ambitions.
        </p>
      </a>
    </div>
  </article>
</section>
{% endblock journey %}
