{% block journey %}
<section class="mobile-container w-full my-4">
  <h2 class="text-4xl lg:text-3xl mb-2 font-bold tracking-tight text-white">
    Votre Parcours de Réussite
  </h2>
  <p class="mb-16 text-[#ACACAC]">
    Chaque Étape, Un Pas de Plus Vers Votre Vision
  </p>
  <article class="flex flex-col justify-center" data-aos="fade-up"
  data-aos-duration="2000">
    <!-- flex-wrap -->
    <div class="flex flex-wrap justify-center items-center">
        {# Step 01 - Definir objectif #}
        <a href="#"
        class="bg-[#191925] hover:bg-transparent border border-transparent hover:border-[#00A3FF] rounded-lg p-6 cursor-pointer group py-4 w-[290px] h-[240px] m-4 mb-8"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">ÉTAPE-01</p>
          <img
            src="{{ asset('./image/journey/step1.svg') }}"
            alt="icon Définir vos objectifs"
            class="absolute w-[60px] md:w-[80px] right-[-60px] top-[-60px] transform transition-all ease-in-out group-hover:scale-[0.5] group-hover:right-[-30px] group-hover:top-[-30px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-[20px]">
          Définir vos objectifs
        </h3>
        <p class="text-[#ACACAC] mt-2 mb-[20px] text-base">
          Identifiez clairement ce que vous voulez atteindre avec votre projet.
        </p>
        <img src="{{ asset('./image/expertise/arrow.svg') }}" class="h-5" alt="redirection Définir vos objectifs" />
        </a>
  
      {# Step 02 - Contactez-nous #}
        <a
        href="#"
        class="bg-[#191925] hover:bg-transparent border border-transparent hover:border-[#00A3FF] rounded-lg p-6 cursor-pointer group py-4 w-[290px] h-[240px] m-4 mb-8"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">ÉTAPE-02</p>
          <img
            src="{{ asset('./image/journey/step2.svg') }}"
            alt="icon Contactez-nous"
            class="absolute  w-[60px] md:w-[80px] right-[-60px] top-[-60px] transform transition-all ease-in-out group-hover:scale-[0.5] group-hover:right-[-30px] group-hover:top-[-30px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-[20px]">Contactez-nous</h3>
        <p class="text-[#ACACAC] mt-2 mb-[20px] text-base">
          Prenez l’initiative de nous joindre pour discuter de vos idées et
          besoins.
        </p>
        <img src="{{ asset('./image/expertise/arrow.svg') }}" class="h-5" alt="redirection Contactez-nous" />
        </a>

    </div>
  
    <div class="flex flex-wrap justify-center items-center">
      {# Step 03 - Planifions ensemble #}
      <a
      href="#"
        class="bg-[#191925] hover:bg-transparent border border-transparent hover:border-[#00A3FF] rounded-lg p-6 cursor-pointer group py-4 w-[290px] h-[240px] m-4 mb-8"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">ÉTAPE-03</p>
          <img
            src="{{ asset('./image/journey/step3.svg') }}"
            alt="icon Planifions ensemble"
            class="absolute  w-[60px] md:w-[80px] right-[-60px] top-[-60px] transform transition-all ease-in-out group-hover:scale-[0.5] group-hover:right-[-30px] group-hover:top-[-30px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-[20px]">
          Planifions ensemble
        </h3>
        <p class="text-[#ACACAC] mt-2 mb-[20px] text-base">
          Nous établirons un plan précis qui détaille chaque étape pour atteindre
          vos objectifs.
        </p>
        <img src="{{ asset('./image/expertise/arrow.svg') }}" class="h-5" alt="redirection Planifions ensemble"/>
      </a>
  
      {# Step 04 - Lancement du projet #}
      <a
      href="#"
        class="bg-[#191925] hover:bg-transparent border border-transparent hover:border-[#00A3FF] rounded-lg p-6 cursor-pointer group py-4 w-[290px] h-[240px] m-4 mb-8"
      >
        <div class="flex justify-between relative">
          <p class="text-[#ACACAC] text-sm">ÉTAPE-04</p>
          <img
            src="{{ asset('./image/journey/step4.svg') }}"
            alt="icon Lancement du projet"
            class="absolute  w-[60px] md:w-[80px] right-[-60px] top-[-60px] transform transition-all ease-in-out group-hover:scale-[0.5] group-hover:right-[-30px] group-hover:top-[-30px]"
          />
        </div>
        <h3 class="text-white font-bold text-xl mt-[20px]">
          Lancement du projet
        </h3>
        <p class="text-[#ACACAC] mt-2 mb-[20px] text-base">
          Une fois le plan approuvé, nous commençons la mise en œuvre pour
          réaliser vos ambitions.
        </p>
        <img src="{{ asset('./image/expertise/arrow.svg') }}" class="h-5" alt="redirection Lancement du projet"/>
      </a>
    </div>


  </article>

</section>
{% endblock journey %}
