{% extends 'base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block body %}
<!-- Blog -->
<section
  class="mt-[80px] lg:mt-[100px] w-full default-container justify-center sm:container flex gap-x-8 2xl:h-screen xl:gap-8"
>
  <article
    class="w-[90%] flex flex-col"
  >
    <div data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
      <h2
        class="text-[24px] md:text-[28px] xl:text-[36px] font-bold tracking-tight text-white leading-[1.19]"
      >
      Notre Blog
      </h2>
    </div>
    <p
      class="text-grayText mt-[10px] mb-[30px] text-base leading-[28px]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
    Décryptage Expert du Monde Digital
    </p>
  </article>

</section>

<!-- ttttttttttt -->


<article class="w-full justify-center default-container sm:container flex 2xl:h-screen gap-18">
  <div class="flex w-[92%] mt-4 flex-wrap justify-center gap-8">
    <a href="{{ path('app_blog_detail', {slug: 'blog-1'}) }}" class="flex flex-col gap-2 w-[280px]">
       <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
        <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
       </div>
       <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
       <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
    </a>

    <a href="{{ path('app_blog_detail', {slug: 'blog-1'}) }}" class="md:flex flex-col gap-2 w-[280px] hidden">
      <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
        <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
      </div>
      <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
      <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
   </a>
   <a href="{{ path('app_blog_detail', {slug: 'blog-1'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
    <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
      <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
    </div>
    <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
    <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
 </a>
 <a href="{{ path('app_blog_detail', {slug: 'blog-1'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
  <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
    <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
  </div>
  <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
  <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
</a> 
<!-- yyyyyyyyyyyàààà -->
<a href="{{ path('app_blog_detail', {slug: 'blog-2'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
  <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
    <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
  </div>
  <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
  <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
</a> 
<a href="{{ path('app_blog_detail', {slug: 'blog-2'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
  <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
    <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
  </div>
  <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
  <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
</a> 
<a href="{{ path('app_blog_detail', {slug: 'blog-2'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
  <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
    <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
  </div>
  <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
  <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
</a> 
<a href="{{ path('app_blog_detail', {slug: 'blog-2'}) }}" class="lg:flex flex-col gap-2 w-[280px] hidden">
  <div class="w-full h-[180px] bg-slate-500 rounded-md overflow-hidden">
    <img src="{{ asset('./image/blog/image.png') }}" alt="image blog 1" class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out">
  </div>
  <p class="text-secondary text-[12px]">EXPÉRIENCE UTILISATEUR</p>
  <p class="text-white">Design UX/UI : Créer des Expériences Utilisateurs...</p>
</a> 

  </div>
</article>

<article class="w-full flex justify-center mt-[50px]">
  <div class="flex gap-1 p-1 border border-borderBase rounded-md">
    <button class="bg-tertiary text-white px-4 py-2 rounded-sm">Précédent</button>
    <button class="bg-tertiary text-white px-4 py-2 rounded-sm">1</button>
    <button class="bg-tertiary text-white px-4 py-2 rounded-sm">2</button>
    <button class="bg-tertiary text-white px-4 py-2 rounded-sm">3</button>
     <button class="bg-tertiary text-white px-4 py-2 rounded-sm">Suivant</button>
  </div>
</article>


{% endblock %}