{% extends 'base.html.twig' %} {% block title %} Détails du Projet : [Nom du
Projet] {% endblock %} {% block description %} Découvrez les détails de notre projet
[Nom du Projet], incluant les objectifs, les défis, et les solutions que nous
avons mises en place pour garantir son succès. {% endblock %} {% block body %}
<!-- Header Project Main Content -->
<section
  class="w-full flex flex-col lg:flex-row gap-x-[64px] xl:container xl:m-auto"
>
  <!-- Block content -->
  <article
    class="pt-[80px] lg:py-0 lg:bg-transparent lg:w-1/2 default-container lg:mb-[0px] lg:pl-[64px] lg:mt-[100px]"
  >
    <div data-sal="slide-up" data-sal-duration="800" data-sal-selay="150">
      <div class="w-[100px] h-[100px] bg-grayText mb-3">
        {# set image for project #} {% set image =
        achievement.getImageByType('logo') %} {# Afficher l'image de type 'logo'
        #} {% if image %}
        <img
          src="{{ asset('/images/uploads/' ~ image.getImage() ) }}"
          alt="{{ image.getType() }}"
          class="w-full h-full object-cover"
        />
        {% else %}
        <p>Aucune image principale disponible</p>
        {% endif %}
      </div>
      <h2
        class="text-[34px] md:text-[38px] xl:text-[50px] font-bold tracking-tight mb-[10px] text-white leading-[1.19]"
      >
        {{ achievement.title }}
      </h2>
      <p class="text-secondary uppercase font-medium tracking-[1px] mb-[20px]">
        {% for tag in achievement.tag %}
        {{ tag.name }}
        {% endfor %}
      </p>
    </div>
    <p
      class="text-grayText mt-[20px] mb-[30px] text-base leading-[28px]"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="200"
    >
      {{ achievement.description }}
    </p>
    <a
      href="{{ achievement.link }}"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-selay="250"
      ><button class="blue-button">Voir le projet</button></a
    >
  </article>
  <!-- Image -->
  <article
    class="w-full lg:w-1/2 flex justify-center items-center lg:pr-[64px] pt-[80px] lg:py-0 lg:mt-[100px]"
  >
    {% set image = achievement.getImageByType('main') %} {# Afficher l'image de
    type 'main' #} {% if image %}
    <img
      src="{{ asset('/images/uploads/' ~ image.getImage() ) }}"
      alt="{{ image.getType() }}"
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] lg:h-full"
    />
    {% else %}
    <p>Aucune image principale disponible</p>
    {% endif %}
  </article>
</section>

<!-- Project Two Picture -->
<section
  class="w-full flex flex-col lg:flex-row items-center gap-x-[64px] xl:container xl:m-auto"
>
  <!-- Image -->
  <article
    class="w-full lg:w-1/2 flex justify-center items-center lg:pl-16 mt-[80px] lg:mt-[100px]"
  >
    <div
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] overflow-hidden"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      {# Afficher l'image de type 'first' #} {% set image =
      achievement.getImageByType('first') %} {% if image %}
      <img
        src="{{ asset('/images/uploads/' ~ image.getImage() ) }}"
        alt="{{ image.getType() }}"
        class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
      />
      {% else %}
      <p>Aucune image principale disponible</p>
      {% endif %}
    </div>
  </article>
  <!-- Image -->
  <article
    class="w-full lg:w-1/2 flex justify-center items-center lg:pr-16 mt-[80px] lg:mt-[100px]"
  >
    <div
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] overflow-hidden"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      {# Afficher l'image de type 'second' #} {% set image =
      achievement.getImageByType('second') %} {% if image %}
      <img
        src="{{ asset('/images/uploads/' ~ image.getImage() ) }}"
        alt="{{ image.getType() }}"
        class="w-full h-full object-cover hover:scale-150 transition-transform duration-500 ease-in-out"
      />
      {% else %}
      <p>Aucune image principale disponible</p>
      {% endif %}
    </div>
  </article>
</section>

<!-- Project Focus Description -->
<section
  class="mt-[80px] lg:mt-[100px] w-full flex flex-col justify-center items-center"
>
  <!-- Content Focus -->
  <article
    class="flex flex-col gap-4 items-center w-full default-container 2xl:container-fluid 2xl:px-[140px]"
  >
    <h2
      class="text-3xl mb-4 font-bold tracking-tight text-white"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="150"
    >
      {{ achievement.focusTitle }}
    </h2>
    <p
      class="text-grayText w-[100%] md:w-[80%] text-base text-center"
      data-sal="slide-up"
      data-sal-duration="800"
      data-sal-delay="200"
    >
      {{ achievement.focusDescription }}
    </p>
  </article>
</section>

{% include 'components/cta.html.twig' %} {% endblock %}
